
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title  %></title>
    <link type="text/css" href="/stylesheets/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
</head>
<body class="grey lighten-4">

    <!-- to nav -->
		    <nav class=" navbar-fixed z-depth-2 ">
		        <div class="nav-wrapper">
		          <a href="/" class=" center brand-logo">
                    <i class=" fas fa-map-marker-alt  "></i><span class="Log-text">Location</span>
                  </a>
		          <a href="#" data-target="mobile-nav" class="right sidenav-trigger">
		            <i class="material-icons">menu</i>
		          </a>
		          <ul class="right hide-on-med-and-down">
                      <% if(!currentUser) {  %>
                        <li><a href="/login">Login</a></li>
                            <% } else { %>
                                <li>
                                    <a  class="dropdown-trigger" data-target="dropdownMenu"> Menu<i class="material-icons right">arrow_drop_down</i> </a>
                                </li>
                                <li>
                                        <a  href="/logout"> Sign out </a>
                                </li>
                        <% }  %>
                        <li><a href="/posts">Accommodation</a></li>
		          </ul>
		        </div>
		    </nav>
		  

     <!-- Dropdown Menu -->
    <ul id="dropdownMenu" class="dropdown-content" style="/* width: 110.344px; */ top: 60px !important; " >
        <li><a href="/profile">Profile</a></li>
        <li><a href="/register">Sign up</a></li>
        <li><a href="/posts">Accommodation</a></li>
    </ul>


     <!-- side nav -->
     <ul class="sidenav" id="mobile-nav">
		    <li><a class="subheader">LOCATION</a></li>
            <li><a href="#">Login</a></li>
            <li>
                <a  class="dropdown-trigger" data-target="dropdownSideMenu"> Menu<i class="material-icons right">arrow_drop_down</i> </a>
                    <!-- Dropdown Menu -->
                    <ul id="dropdownSideMenu" class="dropdown-content" style="/* width: 110.344px; */top: 60px; " >
                        <li><a href="#!">Profile</a></li>
                        <li><a href="#!">Sign up</a></li>
                        <li><a href="#!">Accommodation</a></li>
                    </ul>
                </a>
            </li>
            <li><a href="#">Accommodation</a></li>
          </ul>
          
          <div class="form-wrap container"  style="margin-bottom: 50px; margin-top: 50px;">
                <form action="/register" method="POST" enctype="multipart/form-data"class="container" >
                    <h4>Register</h4>
                  <div class="input-group">
                      <lable for="username"><i class="fa fa-user fa-lg fa-fw" aria-hidden="true" style="padding: 5px;"></i>Username:</lable>
                      <input type="text" class="input-box  review--comment" id="username"  name="username" placeholder="username" required value="<%= username %>">
                      
                  </div>
                  <div class="input-group">
                      <lable for="password"><i class="fa fa-lock fa-lg fa-fw" aria-hidden="true" style="padding: 5px;"></i>Password:</lable>
                      <input type="password" class="input-box  review--comment"  id="password" id="password" name="password" placeholder="password" required >
                      
                  </div>
                  
                  <div class="input-group">
                      <lable for="email"><i class="fa fa-envelope-o fa-lg fa-fw" aria-hidden="true" style="padding: 5px;"></i>Email:</lable>
                      <input type="text" class="input-box  review--comment" id="email" name="email" placeholder="email" required value="<%= email %>">
                      
                  </div>
                  
                  <input type="submit" value="Submit" class="btn blue lighten-1">
                  <p><a href="/login">Login</a></p>
                </form>
              </div>
            </section>
     
        
        


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/materialize.min.js"></script>
    <script src="/javascripts/ui.js"></script>
</body>
</html>