<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title  %></title>
    <link type="text/css" href="/stylesheets/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
</head>
<body class="grey lighten-4">

    <!-- to nav -->
		    <nav class=" navbar-fixed z-depth-2 ">
		        <div class="nav-wrapper">
		          <a href="/" class=" center brand-logo">
                    <i class=" fas fa-map-marker-alt  "></i><span class="Log-text">Location</span>
                  </a>
		          <a href="#" data-target="mobile-nav" class="right sidenav-trigger">
		            <i class="material-icons">menu</i>
		          </a>
		          <ul class="right hide-on-med-and-down">
                        <% if(!currentUser) {  %>
                            <li><a href="/">Login</a></li>
                                <% } else { %>
                                    <li>
                                            <a  href="/logout"> Sign out </a>
                                    </li>
                                    <li>
                                        <a  class="dropdown-trigger" data-target="dropdownMenu"> Menu<i class="material-icons right">arrow_drop_down</i> </a>
                                    </li>
                            <% }  %>
                        <li><a href="/posts">Accommodation</a></li>
		          </ul>
		        </div>
		    </nav>
		  

     <!-- Dropdown Menu -->
    <ul id="dropdownMenu" class="dropdown-content" style="/* width: 110.344px; */ top: 60px !important; " >
        <li><a href="/profile">Profile</a></li>
        <li><a href="/register">Sign up</a></li>
        <li><a href="/posts">Accommodation</a></li>
    </ul>


     <!-- side nav -->
     <ul class="sidenav" id="mobile-nav">
		    <li><a class="subheader">LOCATION</a></li>
            <li><a href="/">Login</a></li>
            <li>
                <a  class="dropdown-trigger" data-target="dropdownSideMenu"> Menu<i class="material-icons right">arrow_drop_down</i> </a>
                    <!-- Dropdown Menu -->
                    <ul id="dropdownSideMenu" class="dropdown-content" style="/* width: 110.344px; */top: 60px; " >
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/register">Sign up</a></li>
                        <li><a href="/posts">Accommodation</a></li>
                    </ul>
                </a>
            </li>
            <li><a href="/posts">Accommodation</a></li>
		  </ul>
          
          <section id="add" class="container z-depth-2" style="margin-top: 50px; padding: 50px 0 70px  50px;">
          <form action="/reset/<%= token %>?_method=PUT" method="POST" class="container">
                    <div class="form-wrap">
                        <h4>Reset Password</h4>
                      
                        <div class="input-group">
                                <label for="password">New Password</label>
                                <input type="password" name="password" id="password"class="input-box review--comment " placeholder="New password" autofocus>
                        </div>
                        <div class="input-group">
                                <label for="confirm">Confirm Password</label>
                                <input type="password" name="confirm" id="confirm" class="input-box review--comment "  placeholder="Confirm password">
                        </div>
                        <input type="submit" value="Update Password" class="btn blue lighten-1">
                    </div>
                </form>
            </section>
          


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/materialize.min.js"></script>
    <script src="/javascripts/ui.js"></script>
</body>
</html>



