/* colors */
:root{
    --primary: #37454d;;
    --secondary:#ffe1c4;
    --title: #37454d;
    --bg-color: rgb(255, 255, 255);
    --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7);
   }

   body{
    overflow-x: hidden;
   }
   
   /* layout styles */
   nav, .footer{
       background: var(--bg-color) !important;
       border-bottom: 1px solid var(--box-shadow);
   }
   
   nav ul a {
      
       color: var(--title) !important;
       
   }

   nav  a {
    
    color: var(--title) !important;
    
   }

   nav i {
    display: contents ;
   }
   
   nav a span {
       font-weight: bold;
       font-size:x-large ;
   }
   
   nav .sidenav-trigger {
       margin: 0;
   }


   .dropdown-content{
        width: 280px !important; 
       top: 48px !important;
   }

   .Log-text{
    text-transform: uppercase;
   }
   .fa-map-marker-alt:after {
     font-family: fontawesome;
     content: "\f041";
     color: #d80d0d;
     font-style: normal;
   }

   .fa-map-marker-alt:before {
    font-family: fontawesome;
    content: " ";
   }

   /* Index page - Home */
    .logo{
    animation: pulse 2s 4s ease-out infinite;
    -webkit-animation: pulse 2s 4s ease-out infinite;
    font-size: 10em;
    z-index: 2;
    }
    .v-header{
    display: flex;
    align-items: center;
    color: #fff;
    }

    .fullscreen-video-wrap{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .fullscreen-video-wrap video{
        min-width: 100%;
        min-height: 100%;
    }
    .header-overlay{
        height: 100vh;
        width: -webkit-fill-available;
        position: absolute;
        top: 0;
        left: 0;
        background: #225470;
        z-index: 1;
        opacity: 0.70;
    }

    
    .content{
        padding-top: 90px;
        color: #fff;
        text-align: center;
        z-index: 2;
        position:absolute; 
        top: 0px;
        transform: translate(0px, 30px);
        box-sizing: border-box;
        margin-top: 100px;
    
    }
    .content, h2{
        padding-bottom: 2px;
        
    }
    .content, p{
        margin:18px 0;
        
    }

 /* Search and Filter  section*/

    .search--filter{
        
        display: grid;
        grid-template-columns: 5fr 3fr 3fr 2fr;
        grid-template-areas: "search__field pricing__input rating__input search_btn";
        column-gap: 6px;
        position: relative;  
        justify-content: center;
    }

    input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea
    {
        /*background-color: var(--bg-color);*/
        text-indent: 25px; 
        border: 1px solid var(--bg-color) !important;
    }

   .input-field input:focus + label{
       color: var(--bg-color) !important;   
   }

   .row .input-field input:focus{
       border: 1px solid var(--bg-color) !important; 
       box-shadow: 0 1px 0 0 var(--bg-color) !important;
   }

    .postion__content{
        top:0rem !important;
    }
   
   .fa-search:before{
    font-family: fontawesome;
    content: "\f002  ";
    font-style: normal;
    color: #d80d0d;
    padding: 2px;
   }

   
/* recipe style */
.recipes{
    margin-top: 20px;
}

.card-panel.recipe{
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 1px 3px rgba(90, 90, 90, 0.1);
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    grid-template-areas: "image details delete";
    position: relative;  
    justify-content: center;
}

.recipe img{
    grid-area: image;
    max-width: 100px;
}

.recipe-details{
    grid-area: details;
   
    margin-top: 6px ;
    margin-left: 10px;
}

.recipe-delete{
    grid-area: delete;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.recipe-delete i{
    font-size: 18px;
}

.recipe-title{
    font-weight: bold;
}

.recipe-ingredients{
    font-size: 0.8em;
}

/*  Footer */

.fa-heart{
    color: #e63333;
    font-style: normal;
    
}
.fa-heart:before {
    font-family: fontawesome;
    content: " ";
    font-style: normal;
}
  
.fa-heart:after {
    font-family: fontawesome;
    content: "\f004";
    font-style: normal;
}
  
.fa-heart:before{
    font-family: fontawesome;
    content:"\f004";
    font-style: normal;
}

/* show page - view accommodation*/
    .pictue__view {
       border: 1px solid var(--box-shadow);
    }

    .sub--view__img{
    margin-top: 5px;
    display: inline-flex;
    gap: 5px;
   }

   .titles{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px
   }

   .recipe-ingredients  p{
    font-size: large;
    opacity: 0.8 ;
   }

   .review--comment{
    background-color: var(--bg-color) !important;
   }

   textarea {
    margin: 0px !important;
    height: 180px !important;
    width: 662px !important;
    background-color: var(--bg-color) !important;
    border: 1px solid var(--bg-color) !important;
   }

   .edit-review-form{
       display: none;
   }

   

  .fa-star::before{
  font-family: fontawesome;
  content:" " ;
  font-style: normal;
  color: gold;
  }


  .fa-star-o:before{font-family: fontawesome;content:"\f006";color: gold;}
  .fa-star-o:before{
    font-family: fontawesome;
      content:" "  
  }



  .fa-star-half-o::before{
  font-family: fontawesome;
  content:" " ;
  font-style: normal;
  color: gold;
  }

  .far .fa-star::before{
  font-family: fontawesome;
  content:" " ;
  font-style: normal;
  }

  

  .fa-star-half-empty::before{
  font-family: fontawesome;
  content:" ";
  font-style: normal;
  }


/* Tablet */
@media screen and (max-width: 3768px ) {
   .recipe-ingredients p{
        font-size: large;
        opacity: 0.8 ;
    } 
    
  }

  /* Smartphones */
@media screen and (max-width: 425px ) {
    .titles{
        display: inline;
        grid-template-columns: 1fr 0fr 1fr;
        gap: 10px;
    } 
    .recipe-ingredients p{
        font-size: large;
        opacity: 0.8 ;
    }
    
  }